# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Pytest / coverage / mypy
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.tox/

# Editors / IDEs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Local runtime config
config/config.json
accounts.json
yacs.log
!data/price.json
data/mafiles
data/settings.lock
data/accounts.lock
settings.json

# Local trash
pyuac.*
report.json

# Js scritpts 
package-lock.json
node_modules

